{% extends 'base.html'%}
 
{% block content %}

    <section class="home">
        <h1 class="titles">Celebrating Lives, Cherishing Memories</h1>
        <p style="text-align: center;">A compassionate space to honor your loved ones and share their stories with the world</p>


        <div class="home-text">
            <!-- <img src="to_the_fallen.jpg" alt="Candles"> -->
            <p>We understand the importance of remembering those who have touched our lives. Our platform provides a simple, heartfelt way to create, share, and preserve the legacies of your loved ones. Whether it’s through words, photos, or tributes, their memory can live on in the hearts of family, friends, and future generations."</p>
        </div>

        <div>
            <div class="testimony-text">
                <h1>Testimonials</h1>
                <p>From the Hearts of Families We’ve Helped</p>
            </div>

            <div class="testimony-container">
                <div class="testimony">
                    <p>Testimony 1</p>
                    <!-- <img src="testimonial1.jpg" alt="Testimonial 1"> -->
                    <p>“Our family was able to come together and share stories, photos, and memories of our beloved grandmother. It was a beautiful way to honor her life and keep her memory alive.”</p>
                    <p>— The Smith Family</p>
                </div>

                <div class="testimony">
                    <p>Testimony 2</p>

                    <!-- <img src="testimonial2.jpg" alt="Testimonial 2"> -->
                    <p>“We were able to create a lasting tribute to our father that we can share with family and friends. It’s a wonderful way to celebrate his life and the impact he had on all of us.”</p>
                    <p>— The Johnson Family</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}